<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <style>
        td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<h1>Bug #{{ bugId }}</h1>
<h2>{{ title }}</h2>
<div>
    <h3><strong>Assigned to:</strong></h3>
    <div>
    <ul>
    {% for assignee in assignedUsers %}
        <li>{{ assignee.user }}</li>
    {% endfor %}
    </ul>
    </div>
    {% if userAlreadyAssigned != true %}
        <a href="assign/"><button>Assign Me</button></a>
    {% else %}
        <a href="unassign/"><button>Unassign Me</button></a>
    {% endif %}
</div>

<h3><strong>Details</strong></h3>
<p>{{ details }}</p>


<h3><strong>Recent Bug Changes</strong></h3>
{% if no_changes == true %}
<p>No bug changes.</p>
{% else %}
<p>
    Change ID - {{ change_id }} <br />
    {{ change_creation_time }}
</p>
<h5><em>Description:</em></h5>
<p>{{ change_description }}</p>

<h5><em>Tags:</em></h5>
<p>
{% for tag in tags %}
   {{tag.title }}
{% endfor %}
</p>
{% endif %}

<h3><strong>Comments:</strong></h3>
<form action="comment" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
    <input type="hidden" name="bug_id" value="{{ bugID }}">
    <textarea name="content" cols="80" rows="4"></textarea>
    <button type="submit">Submit Comment</button>
</form>
{% if no_comments == true %}
    <p>No comments.</p>
{% else %}
<table>
{% for comment in comments %}
    <tr>
        <td>
        <p>{{ comment.author }} - <em>{{ comment.creation_time }}</em></p>
        <p>{{ comment.content }}</p>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
</body>
</html>
